.post {
  background-color: #1f1729;
  transition: transform 400ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%;
  }

  .post-content {
    padding: 3rem
  }

  h2 {
    padding-bottom: 1rem;
  }
}